<h2><%= @user.name %></h2>

<h3>All upcoming trips:</h3>

<div class="my_trips">

    <% @trips.each do |trip| %>

        <div class="trip">

            <div class="to_from">

                Trip from <%= link_to trip[:origin].name, planet_slug_path("#{trip[:origin].name}")%> to <%= link_to trip[:destination].name, planet_slug_path("#{trip[:destination].name}")%>

            </div>

            <div class="carrier_ship">

                You are flying with <%= link_to trip[:carrier].name, carrier_path(trip[:carrier]) %> on the <%= link_to trip[:rocket].name, rocket_slug_path("#{trip[:rocket].name}") %>

            </div>

            <div class="trip_stats">

                <span class="stat_item">

                    <%= label_tag "Distance" %>
                    <%= trip[:distance] %> Parsecs

                </span>

                <span class="stat_item">

                    <%= label_tag "Speed" %>
                    <%= trip[:rocket].speed %> Parsecs/hr

                </span>

                <span class="stat_item">

                    <%= label_tag "Duration" %>
                    <%= trip[:duration] %> hours

                </span>

            </div>

        </div>

    <% end %>

</div>
