<p id="alert"><%= alert %></p>
<h2>Login</h2>

<div class="login_page">
<%= form_tag sessions_path do |form| %>
  <div class="thing">
    <%= label_tag :email, nil, class: 'input_label' %>
    <%= text_field_tag :email %>
  </div>
  <div class="thing">
    <%= label_tag :password, nil, class: 'input_label' %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Login" %>
  </div>
</div>
<% end %>