<p id="notice"><%= notice %></p>

<h1>View your Activity here...</h1>

<p>Total Number of Trips: <%= @user.trips.size %></p>
<p>Money Spent With Spacescanner: haha rip off</p>
<p>Total Distance Travelled: <%= @total_distance %> Parsecs</p>
<p>Total Hours Spent in Space: <%= @total_time %></p>
<p>Current Sparklegasm: <%= @user.sparklegasm %></p>



