<h2><%=@planet.name%></h2>

<div class="planet">

    <ul>

        <li>Distance from Earth: <%= @planet.distance_from_earth %> Parsecs</li>
        <li>Gravity: <%= @planet.gravity %> g</li>
        <li>Hostility: <%= @planet.hostility %></li>
        <li>Population: <%= @planet.population %></li>

        <% if !@planet.breathable_atmosphere %>

            <li><%= Faker::TvShows::RickAndMorty.quote %></li>

        <% end %>

    </ul>

    <%= image_tag "#{@planet.name}", :alt => "planet_image", class: "planet_image" %>

</div>
