<h2><%=@planet.name%></h2>

<p><%= @planet.name %></p>
<p><%= @planet.distance_from_earth %> Parsecs</p>
<p><%= @planet.gravity %> g</p>
<p><%= @planet.hostility %></p>
<p><%= @planet.population %></p>
<p><%= if @planet.bre %></p>
<p><%=  %></p>
<p><%=  %></p>